@import '../../../../../styleConstants.scss';

.GetStartedButton {
  width: $width-medium;
  margin-bottom: 40%;
  font-size: 1.5rem;
  background-color: $teal;
  border-radius: $border-radius;
  width: 50%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.GetStartedButton__button {
  color: $button-grey;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  outline: none;
}