.Welcome {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Welcome__title-container {
  margin-bottom: 2rem;
}

.Welcome__title {
  margin: 0;
  margin-bottom: 5%;
  font-size: 4.5rem;
  font-weight: normal;
}

.Welcome__sub-title {
  font-weight: normal;
}